header{
  position: relative !important;
}

#placeholder{
  display: none;
}

#class_nav {
  position: sticky;
  top: -3px;
  width: 100%;
  z-index: 1000;
  background: whitesmoke;
  opacity: 0.85;
}

#class_nav::after{
  content: '';
  display: table;
  clear: both;
  text-align: center;
}

#class_nav a{
  font-size: 1.1em;
  padding: 0;
  text-align: right;
  color: black;
}

#class_nav a:hover{
  color: #999;
}

body{
  background: #EFEFEF;
}

.singlebolg{
  height: 22em;
  background: black;
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 1em 13%;
}

.image{
  max-height: 20em;
  width: 60%;
  margin: 1em 20%;
}

.information{
  background: white;
}

.tag{
  color: rgb(120,219,244);
  text-align: left;
  margin: 5em 0 0 40px;
  padding: 0;
  font-size: 0.9em;
  font-weight: bold;
}

.title{
  margin: 0.5em 40px;
  padding: 0;
  font-size: 1.4em;
  font-weight: 600;
  text-align: left;
}

.intro{
  text-align: left;
  font-size: 1.2em;
  margin: 0.5em 40px;
  height: 8em;
}

.time{
  text-align: left;
  margin: 0 40px;
  color: #999;
  font-size: 0.8em;
}

#bloghost{
  color: black !important;
  font-weight: bold;
}

svg{
  height: 1.1em;
}

ul li{
  list-style-type: none;
}

@media only screen and (min-width: 1000px){
  #expandmore{
    display: none;
  }

  #class_nav{
    text-align: left;
  }

}

#class_sub_nav{
  list-style-type: none;
  text-decoration: none;
  background: whitesmoke;
  display: none;
}

#class_sub_nav a{
  color: black;
  font-size: 1em;
  padding: 0;
}

#class_sub_nav a:hover{
  color: #999999;
}

#class_sub_nav ul{
  margin: 0;
  padding-top: 0.001em;
  padding-bottom: 0.001em;
}

#class_sub_nav li{
  margin: 0.8em 0;
  text-decoration: none;
  text-align: left;
}

#class_sub_nav ul hr{
  width: 85%;
  margin-right: 20%; 
}

#firstblog{
  background: black;
}

@media only screen and (max-width: 1000px){
  #class_nav li{
    width: 40%;
  }

  #bloghost{
    text-align: left;
  }

  #expandmore{
    text-align: right;
  }

  #main li{
    width: 100%;
  }

  .singleblog{
    margin: 0 0 1em 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60% 40%;
    height: 100%;
    background: white;
  }

  .image{
    min-height: 13em;
  }

  .intro{
    display: none;
  }

  .firsttag{
    margin-top: 2em !important;
  }

  .tag{
    margin-top: 0;
    margin-left: 5%;
  }

  .time{
    margin-bottom: 2em;
    margin-left: 5%; 
  }

  .information{
    height: 100%;
    margin: 0;
  }

  .subimage{
    width: 90% !important; 
    margin: 5%;
  }

  .title{
    margin: 0.5em 5%;
  }
  
}

.purple{
  color: purple;
}