body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
}

.logo{
  height: 1em;
  width: 1em;
}

.container{
  width: auto;
  text-align: center;
}

header::after{
  content: '';
  display: table;
  clear: both;
  text-align: center;
}

header{
  background: black;
  opacity: 0.8;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin: 0.7em 50px;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 0.9em;
}

nav p{
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  margin: 0;
}

nav a:hover{
  color: #999;
}

nav p:hover{
  color: #999;
  cursor: pointer;
}

#song_word{
  padding: 2em; 
  height: 100%;
  color: white;
  font-size: 2em;
  text-align: center;
}

#singer{
  font-size: 0.61em;
}

.song{
  text-decoration: underline;
  font-style: italic;
}

#main{
  text-align: center;
}

#solar{
  align-self: center;
}

#next{
  height: 2em;
}

nav{
  z-index: 100;
}

footer{
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: black;
}

#home{
  position: absolute;
  width: 100%;
  background: white;
  height: 200em;
  text-align: center;
}

.placeholder{
  height: 2em;
}


#intro{
  padding-top: 3em;
  margin: 0;
  color: black;
  font-size: 1.5em;
}

#cc{
  text-decoration: underline solid orange;
}

#info{
  font-size: 1.8em;
  color: black;
}

#contact_home{
  width: auto;
  text-align: end;
  font-size: 1.4em;
  color: rgb(44, 112, 195);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

#contact_me{
  margin: 0;
}

#logo_big{
  margin-top: 5em;
  height: 20em;
}

#logo_big:hover{
  transform: translateX(10px);
}

.logo_p:hover{
  fill: orange;
}

#highlight_up{
  margin-top: 5em;
  display: grid;
  grid-template-columns: auto 1em auto;
}

#hl_upleft{
  background: rgb(243, 198, 200);
  height: 40em;
}

#hl_upright{
  background: #B7DCEA;
  height: 40em;
}

.hl_title{
  font-size: 2.4em;
}

.hl_intro{
  font-size: 1.4em
}

.hl_top_href{
  width: auto;
  text-align: end;
  font-size: 1.4em;
  color: rgb(44, 112, 195);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.hl_href{
  margin: 0;
}

#upleft{
  width: 100%;
}

#upright{
  width: 80%;
}