body{
  background: white;
}

#sub_nav{
  background: rgb(246, 246, 246);
  text-align: center;
}

#sub_nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#sub_nav li{
  display: inline-block;
  margin: 2em 4% 0 4%;
}

#sub_nav p{
  color: black;
  margin: 0.3em 0;
  font-size: 0.8em;
}

#sub_nav p:hover{
  color: rgb(44, 112, 195);
}

.project_logos{
  height: 4em;
}

.team{
  font-size: 0.5em !important;
  color: orange !important;
}

#muschel_mobile{
  margin-top: 3em;
}

#muschel_desktop_watch{
  margin-top: 2em;
  margin-bottom: 0em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

#desktop{
  background: rgb(250, 250, 250);
  margin: 1em 0.5em 0em 1em;
}

#watch{
  background: rgb(240, 240, 240);
  margin: 1em 1em 0em 0.5em;
}

#muschel_share{
  margin-top: 1em;
  background: black;
  color: white;
}

#swangeese{
  margin-bottom: 0em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

#radiology{
  background: rgb(250, 250, 250);
  margin: 1em 0.5em 0em 1em;
}

#pathology{
  background: rgb(250, 250, 250);
  margin: 1em 1em 0em 0.5em;
}

.title{
  font-size: 3em !important;
  padding-top: 1em;
  margin: 0;
}

.intro{
  font-size: 2em !important;
}

div{
  text-align: center;
}

.desktop_v{
  height: 20em;
  margin: 2em 0;
}

.link_more{
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: auto;
}

#bug{
  text-decoration: underline solid orange;
}

#contact{
  margin-top: 1em;
  background: white; 
}

#sharel{
  height: 15em; 
  margin-bottom: 2em;
}

#share{
  margin-top: 4em;
  margin-bottom: 2em;
  height: 20em;
}

#sharer{
  height: 15em;
  margin-bottom: 3em;
}