body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#hoster{
  color: #999 !important;
}

.hoster{
  color: #999 !important;
}

.host{
  color: rgb(44, 112, 195) !important;
}

.logo{
  height: 1em;
  width: 1em;
}

a{
  text-decoration: none;
  color: rgb(44, 112, 195);
}

.container{
  width: auto;
  text-align: center;
}

header::after{
  content: '';
  display: table;
  clear: both;
  text-align: center;
}

header{
  background: black;
  opacity: 0.8;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin: 0.7em 4%;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 0.9em;
}

nav p{
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  margin: 0;
}

nav a:hover{
  color: #999;
}

nav p:hover{
  color: #999;
  cursor: pointer;
}

nav{
  z-index: 100;
}

#welcome{
  padding-top: 1em;
  font-size: 1.4em;
  margin: 0;
}

#cvia{
  margin: 0.5em;
  font-size: 1.2em;
  color: #999;
}

.logos{
  height: 1.5em;
  margin: 1em 1em;
}

#copyright{
  font-size: 0.8em;
  color: #999;
  margin: 0;
  padding-bottom: 0.5em
}

.link, .hl_href{
  text-align: right;
}

.link:hover{
  cursor: pointer;
}

#sub_nav{
  display: none;
}

#placeholder{
  height: 2.5em;
}

@media only screen and (max-width: 1000px){
  .shift{
    display: none;
    width: 0;
    margin: 0;
  }

  .frim{
    margin: 0.7em 0;
    width: 31%;
  }

  #expand{
    text-align: left;
  }

  #search{
    text-align: right;
  }

  #welcome{
    font-size: 1.3em;
    margin: 0;
  }

  #cvia{
    margin: 0.5em;
    font-size: 1em;
    color: #999;
  }

  #sub_nav{
    list-style-type: none;
    text-decoration: none;
    background: black;
  }

  #sub_nav a{
    color: white;
    font-size: 1em;
    padding: 0;
  }

  #sub_nav li{
    margin: 1em 0;
    text-decoration: none;
  }

  #sub_nav ul hr{
    width: 85%;
    margin-right: 20%; 
  }

  .nav_active{
    border-bottom: 0.5px solid #555;
  }

}

@media only screen and (min-width: 1000px){
  #expand{
    display: none;
  }
}

div{
  text-align: center;
}

#placeholder{
  background: black;
}

#sub_nav ul{
  margin: 0;
  padding-top: 0.001em;
}

#sub_nav li{
  margin: 1em 0;
  text-decoration: none;
  text-align: left;
}

.hidden{
    display: none !important;
}